APP_NAME=ALSHUMOOKH GLOBAL BANKING FINANCE AND CREDIT
APP_VERSION=1.0.0

ALCHEMY_API_KEY=PUT_YOUR_ALCHEMY_API_KEY_HERE
ALCHEMY_CHAIN=TRON
ALCHEMY_WEBHOOK_SECRET=PUT_YOUR_ALCHEMY_WEBHOOK_SECRET_HERE

DEFAULT_WALLET_ADDRESS=PUT_YOUR_WALLET_ADDRESS_HERE
DEFAULT_TOKEN_SYMBOL=USDT
DEFAULT_NETWORK=TRON
USDT_CONTRACT=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
MIN_CONFIRMATIONS=1
